.content {
	display: inline-block;
}

.content h1 {
	font-size: 45px;
}

.name-container {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.icon {
	display: table-cell;
	vertical-align: middle;
	width: 20%;
}

.icon img {
	filter: alpha(opacity=60);
 	opacity: .6;
 	width: 100%;
	padding: 0 30px 0 30px;
}

.metrics {
	position: absolute;
	display: table-cell;
	font-size: 42px;
}

.blocker-alert {
	display: table-cell;
	font-weight: bold;
	font-size: 42px;
	width: 20%;
}

.value-blocker {
	color: #CF000F;
	font-size: 110px;
}

.value  {
	font-weight: bold;
	font-size: 62px;
}

.value-0 {
	margin-right: 5px;
	color: #ABB7B7;
}

.value-1 {
	margin-right: 5px;
	color: #5C97BF;
}

.value-2 {
	color: #EB9532;
}

.direction-up {
	color: #03A678;
}

.direction-down {
	color: #D64541;
}