<div class="header"></div>
<div class="calendar"></div>
<script type="text/html" class="template-calendar">
    <div class="team-calendar-container">
        <% _.each(days, function (day) { %>
        <div class="day">
            <div class="day-header"><%= day.name %> <small><%= day.date %></small></div>

            <div class="event-allday">
                Jan Urlaub
            </div>
            <div class="event-allday">
                Norbert Home Office
            </div>

            <div class="event-separator"></div>

            <div class="event">
                11:30 Uhr<br/>
                Daily Scrum
            </div>
        </div>
        <% }); %>
</script>
<script type="text/html" class="template-header">
   <span class="week">Woche <%= week %></span> <span class="time"><%= time %> Uhr</span>
</script>
