.calendar {
    height: 100%;
}

.calendar-info {
    position: absolute;
    z-index: 1000;
    right: 25px;
    font-weight: bold;
    font-size: 44px;
    bottom: 10px;
}

.week {
    color: #4a6785;
    margin-right: 20px;
}

.day {
    color: #ABB7B7;
    height: 100%;
}

.team-calendar-container {
    display: table;
    width: 100%;
    height: 100%;
    margin-top: 0;

    font-size: 34px;
    font-weight: bold;
}

.time {
    font-size: 30px;
    color: #ffffff;
    opacity: 0.6;
}

.day-header {
    text-align: center;
    font-size: 42px;
    width: 100%;
    padding: 0 0 15px 0;
}

.day-header small {
    font-size: 23px;
    color: #7a7a7a;
}

.team-calendar-container h1 {
    text-align: center;
    font-size: 42px;
}

.event-separator {
    padding-top: 40px;
}

.day {
    display: table-cell;
    width: 20%;
    padding: 0 10px 0 10px;
    vertical-align: top;
}

.event {
    color: #ffffff;
    background-color: #555500;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

.event-allday {
    color: #ffffff;
    background-color: saddlebrown;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    font-size: 30px;
}

.today {
    background-color: #333333;
    border-radius: 5px;
}
