<div class="calendar-info"></div>
<div class="calendar"></div>
<script type="text/html" class="template-calendar">
    <div class="team-calendar-container">
        <% _.each(days, function (day) { %>
        <div class="day">
            <div class="day-header"><%= day.name %> <small><%= day.date %></small></div>

            <% _.each(day.allDayEvents, function (event) { %>
            <div class="event-allday" style="background-color: <%= event.color %>">
                <%= event.summary %>
            </div>
            <% }); %>

            <% if (day.allDayEvents && day.allDayEvents.length > 0) { %>
            <div class="event-separator"></div>
            <% }; %>

            <% _.each(day.events, function (event) { %>
            <div class="event" style="background-color: <%= event.color %>">
                <span class="time"><%= event.startTime %> - <%= event.endTime %> Uhr</span><br/>
                <%= event.summary %>
            </div>
            <% }); %>
        </div>
        <% }); %>
</script>
<script type="text/html" class="template-header">
   <span class="week">Woche <%= week %></span> <span class="time"><%= time %> Uhr</span>
</script>
