.content {
	font-size: 115px;
	color: #8E44AD;
	font-weight: bold;
	text-align: center;
	display: inline-block;
    line-height: 1em;
	float: right;
}

.clock-date {
    line-height: 1em;
	margin-top: 10px;
	text-align: center;
	color: #BE90D4;
}

.time-colon {
	font-size: 80px;
	vertical-align: text-top;
	margin-left: 5px;
	margin-right: 5px;
}

.time-colon-1 {
	color: #205081;
}

.clock-date {
	font-size: 0.5em;
}
